.service-details {
  color: var(--secondary-color);
  margin-block: 3rem;
}

.service-details a {
  background: var(--primary-color);
  color: #fff;
  padding: 10px 20px;
}

.service-details input {
  display: block;
  background: #eee;
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px;
}

.service-details .send-btn {
  background: var(--primary-color);
  color: #fff;
}

.service-details .send-btn:hover {
  opacity: 0.7;
  backdrop-filter: blur(5px);
}

.service-details img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-details h2 {
  font-weight: 400;
}

.info-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-container .underline {
  width: 60%;
  height: 3px;
  background: var(--primary-color);
  margin-block: 1rem;
}

.info {
  border-bottom: 1px solid var(--secondary-color);
  margin-bottom: 0.5rem;
}

.info span {
  font-weight: 300;
}
