.not-found {
  background: url(../../images/error.png) no-repeat center center/cover;
  padding-block: 4rem;
  color: var(--primary-color);
}

.not-found > div {
  background: rgb(255 255 255 / 30%);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.not-found h1 {
  font-size: 6rem;
}

.not-found p {
  font-size: 2rem;
  font-weight: 500;
}

.not-found button {
  margin-top: 4rem;
}

.not-found button i {
  margin-right: 0.5rem;
}
